<!DOCTYPE html>
<html lang="en">

<head>    <meta charset="UTF-8">
    <title>Alienated</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="public/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>
    <div class="container-fluid main">
        <div class="jumbotron jumbotron-billboard">
            <div class="img"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Alienated</h1>
                        <p>
                            Because We Are Not Alone
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid interact">
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-circle sighting" src="public/assets/img/sighting.jpg" alt="Report a UFO Sighting image" width="140" height="140">
                    <h3>Report UFO Sighting</h3>
                    <p>Placeholder text for "report sighting" instructions......Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-default" href="report.html" role="button">Report Sighting &raquo;</a></p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="img-circle abduction" src="public/assets/img/abduct.jpg" alt="Abduction likelihood image" width="140" height="140">
                    <h3>Likelihood of Abduction</h3>
                    <p>Placeholder text for "abduction stuff"....Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    <p><a class="btn btn-default" href="#" role="button">Am I Safe? &raquo;</a></p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="img-circle search" src="public/assets/img/ufo2.png" alt="Search UFO Sightings image" width="140" height="140">
                    <h3>Search Sighting History</h3>
                    <p>Placeholder for "sighting history" instructions...Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                    <p><a class="btn btn-default" href="comments.html" role="button">Search Sightings &raquo;</a></p>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- <footer class="footer">
      <div class="container">
        <p><a href="/api/tables">API Link 1</a> | <a href="/api/waitlist">API Link 2</a> | <a href="https://github.com/afhaque/HotRestaurant">API Link 3</a></p>
      </div>
    </footer>
 -->
    </div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>