<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alienated</title>
    <link rel="icon" type="image/png" href="public/assets/img/ufoFavicon.png">
    <link rel="icon" type="image/png" href="public/assets/img/ufoFavicon.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="public/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>
    <div class="container-fluid main">
        <div class="jumbotron jumbotron-billboard">
            <div class="img"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="homepage.html" id="hiddenE"><h1>Alienated</h1></a>
                        <p>
                            The search for life on Mars <br>
                            Mars Rover latest Photos
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-12" id="nasaAPIDiv">
            
        </div>
   
           
        </div>
       

    </div>
  
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="public/assets/js/homepage.js"></script>
</body>

</html>