<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SubmitSighting</title>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="public/assets/css/reset.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="public/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>
    <div class="container-fluid main">
        <div class="jumbotron jumbotron-billboard">
            <div class="img"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Alienated</h1>
                        <p>
                            Because We Are Not Alone
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid submit-form">
            <div class="col-md-2 navigation-panel">
                <div class="panel panel-default">
                    <a href="homepage.html"><img class="img-circle home-icon" src="public/assets/img/ufo3.jpeg" alt="Homepage image" width="140" height="140"></a>
                    <p>Home</p>
                    <hr>
                    <a href="abduction.html"><img class="img-circle abduction" src="public/assets/img/abduct.jpg" alt="Abduction likelihood image" width="140" height="140"></a>
                    <p>Abduction</p>
                    <hr>
                    <a href="comments.html"><img class="img-circle search" src="public/assets/img/ufo2.png" alt="Search UFO Sightings image" width="140" height="140"></a>
                    <p>Search Sightings</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Submit Your UFO Sighting</h3>
                        </div>
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <h4>City</h4>
                                    <input type="text" class="form-control" id="city">
                                </div>
                                <div class="form-group col-md-3">
                                    <h4>State</h4>
                                    <input type="text" class="form-control" id="state">
                                </div>
                                <div class="form-group col-md-3">
                                    <h4>Country</h4>
                                    <input type="text" class="form-control" id="country">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <h4>Date of Sighting</h4>
                                        <input type="date" class="form-control" id="date">
                                    </div>
                                </div>
                                <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <h4>Duration: Seconds</h4>
                                        <input type="text" class="form-control" id="seconds">
                                    </div>
                                </div> -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <h4>Shape</h4>
                                        <input type="text" class="form-control" id="shape">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <h4>Duration: Minutes</h4>
                                        <input type="text" class="form-control" id="minutes">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <h4>Shape</h4>
                                        <input type="text" class="form-control" id="shape">
                                    </div>
                                </div> -->
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <h4>Comments</h4>
                                        <textarea rows="10" cols="20" type="text" class="form-control" id="comments"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-primary btn-lg" id="submit">Submit</button>
                    </div>
                    </form>
                </div>
                <!--closes panel-->
            </div>
            <!--closes col-->
        </div>
        <!--closes row-->
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">UFO Sighting Confirmed</h4>
                    </div>
                    <div class="modal-body">
                        <p>Thank you for submitting your UFO Sighting.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="public/assets/js/aliens.js"></script>
</body>

</html>